    <%= stylesheet_link_tag 'content', 'carousel' %>
    <%= javascript_include_tag 'jquery-1', 'jquery_carosuel','jquery_mousescroll' , 'carousel' %>


<div class="column12container main_container">
<div class="column12"> 

<!-- carousel -->

<div class="carousel"><!-- BEGIN CONTAINER -->
    
    <div style="width: 930px; height: 330px;" class="slides"> <!-- BEGIN CAROUSEL -->
    
           <div style="width: 320px; height: 264px; top: 30px; right: 473px; opacity: 1; z-index: 5; display: block;" class="slideItem"> <!-- SLIDE ITEM -->
          <a href="#"><img style="width: 320px; height: 240px; display: inline-block;" src="/images/slide-1.jpg"></a>            
          <div style="width: 400px; z-index: -1; position: absolute; margin: 0px; padding: 0px; border: medium none; overflow: hidden; left: 0px; bottom: 0px;" class="shadow">
           </div>
        </div>
        
        
        <div style="width: 320px; height: 264px; top: 30px; right: 473px; opacity: 1; z-index: 5; display: block;" class="slideItem"> <!-- SLIDE ITEM -->
          <a href="#"><img style="width: 320px; height: 240px; display: inline-block;" src="/images/slide-2.jpg"></a>            
          <div style="width: 400px; z-index: -1; position: absolute; margin: 0px; padding: 0px; border: medium none; overflow: hidden; left: 0px; bottom: 0px;" class="shadow">
          </div>
        </div>
        
             <div style="width: 320px; height: 264px; top: 30px; right: 473px; opacity: 1; z-index: 5; display: block;" class="slideItem"> <!-- SLIDE ITEM -->
          <a href="#"><img style="width: 320px; height: 240px; display: inline-block;" src="/images/slide-3.jpg"></a>            
          <div style="width: 400px; z-index: -1; position: absolute; margin: 0px; padding: 0px; border: medium none; overflow: hidden; left: 0px; bottom: 0px;" class="shadow">
          </div>
        </div>
             <div style="width: 320px; height: 264px; top: 30px; right: 473px; opacity: 1; z-index: 5; display: block;" class="slideItem"> <!-- SLIDE ITEM -->
          <a href="#"><img style="width: 320px; height: 240px; display: inline-block;" src="/images/slide-1.jpg"></a>            
          <div style="width: 400px; z-index: -1; position: absolute; margin: 0px; padding: 0px; border: medium none; overflow: hidden; left: 0px; bottom: 0px;" class="shadow">
          </div>
        </div>
        
            <div style="width: 320px; height: 264px; top: 30px; right: 473px; opacity: 1; z-index: 5; display: block;" class="slideItem"> <!-- SLIDE ITEM -->
          <a href="#"><img style="width: 320px; height: 240px; display: inline-block;" src="/images/slide-2.jpg"></a>            
          <div style="width: 400px; z-index: -1; position: absolute; margin: 0px; padding: 0px; border: medium none; overflow: hidden; left: 0px; bottom: 0px;" class="shadow">
          </div>
        </div>
        
  </div>
 
  </div>


<!-- END CAROUSEL -->



</div>
</div> 




